.footer__logo {
	max-width: 100%;
	width: 13rem;
	margin-top: 1rem;
}

.footer__text {
	color: $text-color;
	font-size: 0.9rem;
	margin: 1.2rem 0px;
}
.footer__text-link {
	color: $text-color;
	font-size: 0.9rem;
	cursor: pointer;

	&:hover {
		color: $text-color;
	}
}
.footer__text-icon {
	color: $text-color;
	font-size: 0.9rem;
	margin: 0rem 0px 1.2rem 0px;
}
.footer__title {
	color: $text-color;
	font-size: 0.9rem;
	margin: 0rem 0px 1.2rem 0px;
}

.footer__icon {
	font-size: 1.5rem;
	margin-right: 0.8rem;
	color: $black;

	&:hover {
		color: $black;
	}
}

.footer__espacio-text {
	margin-top: 1rem;
}

.footer__img-shop {
	width: 95%;
	@media (max-width: 768px) {
		width: 75%;
	}
}

.footer__pb-footer {
	padding-bottom: 30px;
}

.footer__pl5 {
	padding-left: 5%;
}

.footer__pl10 {
	padding-left: 10%;

	@media only screen and (max-width: 768px) {
		padding-left: 0%;
	}
}

.footer__link-shop-1 {
	position: absolute;
	width: 113px;
	height: 36px;
	top: 0%;
}

.footer__link-shop-2 {
	position: absolute;
	width: 113px;
	height: 36px;
	top: 0%;
	right: 4%;
}

.footer__link {
	color: $black;

	&:focus {
		color: $black;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.footer__pl-md {
		padding-left: 5%;
	}
}

@media only screen and (max-width: 765px) {
	.footer__row {
		padding-left: 2%;
	}
	.footer__pt-sm {
		padding-top: 7%;
	}
}
