.ondemand__section-content {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ondemand__title-h1 {
	color: $title-color;
}

.ondemand__text {
	color: $text-color;
	margin: 0.8rem 0rem 2rem 0rem;
}
.ondemand__text-w80 {
	width: 82%;

	@media only screen and (max-width: 765px) {
		width: 100%;
	}
}

.ondemand__ml-28 {
	margin-left: -28px;
}

.ondemand__pt-1 {
	padding-top: 1rem;
}

.ondemand__card {
	border: 0px;
	box-shadow: $shadow;
	min-width: 30rem;
	min-height: 20rem;
	@media only screen and (max-width: 991px) {
		min-width: 100%;
	}
	@media only screen and (max-width: 765px) {
		margin-top: 2rem;
	}
}

.ondemand__text-card {
	min-height: 2.5rem;
}

.ondemand__icon {
	width: 3rem;
	height: 3rem;
	float: left;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
}
