// Colors
$primary: #0d47a1;
$title-color: #000000;
$text-color: #000000;
$grey: #cfcfcf;
$black: #000000;
$white: #ffffff;

// Fondos
$background: #ffffff;
$background-transparent: transparent;
$background-light: #fafafa;

//Sombras
$shadow: 0 1px 10px 0 #6c757d45;
